/*找回密码的样式控制文件*/

.body-content{
	padding: 70px 300px 0 300px;
}
/*第一步*/
.first-foot{
	/*display: none;*/
}
/*第二步*/
.second-foot{
	display: none;
}
/*第三步*/
.third-foot{
	display: none;
}
.first-flow-chart{
	position: relative;
}

/*步骤*/
.first-step-box{
	width: 32%;
	text-align: center;
	color: #666666;
}
.step{
	display: inline-block;
	width: 24px;
	height: 24px;
	background: #cccccc;
	color: #fff;
	line-height: 24px;
	text-align: center;
	border-radius: 50%;
	box-shadow:0px 0px 0px 6px rgba(235,235,235,100%);
	/*border: 5px solid rgba(235,235,235,100%);*/
}
/*小圆圈有on 的时候的颜色*/
.on{
	background: #FF2D52;
	box-shadow:0px 0px 0px 6px rgba(255,175,185,100%);
}
/*小圆圈下字体的颜色*/
.show{
	color: #FF2D52;
}

/*横条设置*/
.stripe-left{
	height: 3px;
	width: 172px;
	background: #CCCCCC;
	position: absolute;
	top: 11px;
	left: 108px;
}
.stripe-right{
	height: 3px;
	width: 174px;
	background: #CCCCCC;
	position: absolute;
	top: 11px;
	left: 302px;
}
.background-red{
	background: #FF2D52;
}
/*验证信息盒子*/
.verification-box{
	padding-left: 54px;
	/*width: 570px;*/
	height: 200px;
	text-align: left;
	margin-top: 80px;
}
/*手机号框*/
.verification-tel{
	width: 306px;
	height: 40px;
	font-size: 14px;
	line-height: 28px;
	padding: 5px 0px 5px 5px;
	border: 1px solid #E2E2E2;
	margin-left: 10px;
}
.verification-tel input{
	width: 278px;
	border: 0;
}
.margin-42-left{
	margin-left: 42px;
}
/*验证码*/
.verification-text{
	margin-top: 20px;
	width: 180px;
	height: 40px;
	font-size: 14px;
	line-height: 28px;
	padding: 5px 0px 5px 7px;
	border: 1px solid #E2E2E2;
	margin-left: 10px;
}
.verification-text input{
	width: 154px;
	border: 0;
	padding-left: 2px;
}
.get-verification-btn{
	display: inline-block;
	width: 106px;
	height: 40px;
	background: #FF2D52;
	color: #FFF;
	text-align: center;
	line-height: 40px;
	margin-left: 16px;
}
/*下一步*/
.next-step-btn{
	display: inline-block;
	width: 306px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #FF2D52;
	color: white;
	margin-top: 30px;
	margin-left: 92px;
}
.next-step-btn:hover{
	background: #ec193e;
}
/*再次输入密码*/
.verification-password-again{
	width: 306px;
}
.verification-password-again input{
	width: 276px;
}
.ack-password-text{
	width: 80px;
}
/*显示完成盒子*/
.complete-box{
	margin-top: 75px;
	padding-left: 112px;
	height: 140px;
}
/*详情*/
.complete-detail{
	width: 330px;
	margin-left: 20px;
}
