/*大盒子边框*/
.vip-center{
	/*height:642px ;*/
	margin-top: 20px;
	border: 1px solid #E2E2E2;
}
/*左边列表*/
.vip-center-left{
	width: 228px;
	height: 100%;
}
/*会员中心抬头*/
.vip-icon{
	width: 100%;
	height: 60px;
	background: #fff9f5;
	line-height: 60px;
	padding-left: 20px;
	border-bottom: 1px solid #E2E2E2;
}
/*左边列表*/
.vip-func{
	width: 100%;
	height: 582px;
	/*background: #0086B3;*/
	padding: 0 15px;
}
.vip-func ul{
	border-bottom: 1px solid #E2E2E2;
	padding-top: 10px;
}
.vip-func-lists{
	height: 36px;
	width: 170px;
	line-height: 29px;
	margin-left: 30px;
	/*padding-top: 10px;*/
}
.vip-func ul:last-child{
	border-bottom: 0;
}
.vip-func ul li:first-child{
	list-style: square;
}
/*我的订单*/
.vip-func-lists-num{
	display: inline-block;
	width: 16px;
	height: 16px;
	background: #FF2D52;
	color: #fff;
	text-align: center;
	line-height: 16px;	
	border-radius: 4px;
	float: right;
	margin-top: 6px
}
/*右边*/
.vip-center-right{
	width: 970px;
	height: 678px;
	padding: 10px;
	border-left: 1px solid #E2E2E2;
	display: ;
}
/*右上边*/
.vip-center-right-top{
	width: 930px;
	height: 160px;
	border: 1px solid #E2E2E2;
	margin: 10px;
	background: #fff9f5;
}
.head-info{
	width: 370px;
	height: 100%;
	padding: 20px;
}

/*头像图片*/
.head-img{
	width: 120px;
	height: 120px;
	border-radius: 50%;
	background: url(../img/会员头像.png) no-repeat ;
}
/*会员姓名*/
.vip-info{
	margin-left: 135px;
}
/*注册用户*/
.register{
	height: 20px;
	line-height: 20px;
}
.register-img{
	vertical-align: -3px;
}
/*充值按钮*/
.recharge{
	display: inline-block;
	width: 50px;
	height: 25px;
	background: #FF2D52;
	border-radius: 4px;
	text-align: center;
	line-height: 25px;
	color: #fff;
}
/*积分等*/
						
.order-lists{
	display: inline-block;
	width: 139px;
	height: 159px;
	line-height: 99px;
	text-align: center;
	padding: 20px 30px;
	float: left;
}
.order-name{
	margin-top: -70px;
	width: 80px;
	height: 20px;
}
.order-number{
	font-size: 14px;
	color: #ffbec2;
}

/*右下边*/
.vip-center-right-lists{
	float: left;
	width: 454px;
	height: 200px;
	margin: 10px;
	border: 1px solid #E2E2E2;
}
.goods-info-title{
	height: 40px;
	background: #fff9f5;
	line-height: 40px;
	padding-left: 20px;
	padding-right: 10px;
}
.goods-show-box{
	padding: 10px 5px;
}
.gods-slide-l{
	width: 35px;
	height: 136px;
	padding: 40px 5px;
}
.gods-slide-l-btn{
	display: inline-block;
	width: 22px;
	height: 56px;
	border: 1px solid #E2E2E2;
	border-radius: 5px;
	line-height: 54px;
	text-align: center;
}
.goods-show-content{
	width: 124px;
	float: left;
	display: inline-block;
	padding: 10px;
}
.goods-show-content img{
	width: 105px;
	height: 105px;
}

/*右边*/
.first-page{
	display: block;
}
.second-page{
	display: none;
}
.third-page{
	display: none;
}
.fourth-page{
	display: none;
}
.fifth-page{
	display: none;
}
/*实名认证*/
.real-name{
	display: inline-block;
	height: 48px;
	font-size: 16px;
	line-height: 48px;
	border-bottom: 2px solid #FF2D52;
}
.real-name-box{
	border-bottom: 1px solid #E2E2E2;
}
.regulations-box{
	margin-top: 20px;
	/*height: 108px;*/
	border: 1px solid #E2E2E2;
	font-size: 12px;
	padding: 20px;
}
.real-detail-box{
	/*height: 500px;*/
	margin-top: 30px;
}
.real-nameidcard-input{
	width: 300px;
	height: 36px;
	line-height: 36px;
	padding-left: 10px;
	border: 1px solid #E2E2E2;
}
.real-idcard-content{
	margin-top: 20px;
}
/*正面照片上传盒子*/
.front-picture{
	border: 1px solid #E2E2E2;
	width: 200px ;
	height: 128px ;
	text-align: center;
	line-height: 126px;
}
.front-picture img{
	max-height: 128px;
}
/*设置注意事项的缩进*/
.padding-28-left{
	padding-left: 28px;
}
.atention{
	width: 520px;
	padding-left: 82px;
}
/*立即认证*/
.authentication{
	display: inline-block;
	height: 40px;
	margin-top: 30px;
	margin-left: 80px;
	width: 96px;
	line-height: 40px;
	color: #fff;
	border-radius: 5px;
	font-size: 14px;
	text-align: center;
	background: #FF2D52;
}
/*积分页面*/
/*积分标题*/
.integral-detial-box{
	border: 1px solid #E2E2E2;
}
.integral-title li{
	float: left;
	height: 40px;
	padding: 0 145px;
	line-height: 40px;
}
.integral{
	font-size: 0;
}
.integral li{
	display: inline-block;
	height: 46px;
	width: 100%;
	border-bottom: 1px dashed #E2E2E2;
}
.integral li:last-child{
	border: 0;
}
.record li{
	width: 312px;
	padding-left:10px ;
	line-height: 45px;
	text-align: center;
	float: left;
	border: 0;
}
.record li:last-child{
	border-bottom: 0;
}
/*分页*/
.page-box{
	width: 371px;
	margin-left: 600px;
	margin-top: 20px;
}
.page-box li{
	padding: 0 5px;
	font-size: 14px;
	float: left;
}
.page-button{
	display: inline-block;
	width: 32px;
	height: 32px;
	border: 1px solid #E2E2E2;
	border-radius: 5px;
	text-align: center;
	line-height: 30px;
	
}
.page-up{
	background: #f2f2f2;
	
}
.page-up, .page-down{
	width: 68px;
	height: 30px;
	border: 1px solid #E2E2E2;
	border-radius: 5px;
}
/*翻页hover*/
.page-button:hover{
	background: #FF2D52;
}
.page-up:hover{
	background: #f2f2f2;
	cursor: not-allowed;
}
/*优惠券*/
.coupon-box{
	border: 1px solid #E2E2E2;
	border-top: 0;
}
.coupon-title{
	height: 40px;
}
.coupon-title li{
	float: left;
	line-height: 40px;
	padding: 0 20px;
}
.coupon-exchange-content{
	font-size: 12px;
	padding: 20px 10px 20px 20px;
}
.coupon-exchange-content li{
	display: inline-block;
	width: 33.3%;
	height: 100%;
	float: left;
	padding-right:20px ;
	overflow: hidden;
}
/*优惠券列表*/
.coupon-exchange-content-up{
	border: 1px solid #E2E2E2;
	border-bottom: 1px dashed #E2E2E2;
	padding: 25px;
	background: #fff9f5;
	position: relative;
}
.coupon-exchange-content-down{
	border: 1px solid #E2E2E2;
	border-top: 0;
	background: #fff9f5;
	height: 96px;
	line-height: 94px;
	text-align: center;
	position: relative;
}
.exchange-detial{
	position: relative;
}
/**/
.money{
	width:60px ;
	height: 60px;
	line-height: 60px;
}
.exchange-integral{
	display: inline-block;
	padding: 0 35px;
	height: 40px;
	line-height: 40px;
	background: #ff92a5;
	border-radius: 20px;
}
/*边框的半圆设置*/
.semicircle{
	width: 20px;
    height: 20px;
    background: #fff;
    border: 1px solid #FFF;
    border-radius: 20px;
    position: absolute;
}

.left-bottom{
	left: -1px;
    bottom: -1px;
    border-radius: 0px 20px 0px 0px;
    border-top: 1px solid #E2E2E2;
    border-right: 1px solid #E2E2E2;
}
.right-bottom{
	right: -1px;
    bottom: -1px;
    border-radius: 20px 0px 0px 0px;
    border-left: 1px solid #E2E2E2;
    border-bottom: 1px solid #E2E2E2;
}
.left-top{
	left: -1px;
    top: -1px;
    border-radius: 0px 0px 20px 0px;
    border-right: 1px solid #E2E2E2;
}
.right-top{
	right: -1px;
    top: -1px;
    border-radius: 0px 0px 0px 20px;
    border-left: 1px solid #E2E2E2;
}
/*过期*/
.overdue-btn{
	background: #aaaaaa;
}
.overdue-box{
	background: #f7f7f7;
}
